body {
    margin: 0px;
    padding-left: 0px;
}

header {
    display: flex;
    background: linear-gradient(#dcd978,#f766a2);
    color: rgb(0, 0, 0);
    height: fit-content;
    width: 100%;
    text-align: center;
    text-align: left;
}

.logo {
    float:left;
    margin: 5px;
    width: 100px;
    height: 100px;
    padding-right: 70px;
    order: 1;
}

.topnav {
    display: flex;
    align-items: center;
    flex-direction: column;
    order: 3;
}

.topnav li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#main-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-right: 10px;
    order: 2;
}

table {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    table-layout: auto;
    text-align: center;
    border-collapse: collapse;
    width: fit-content;
    order: -2;
}

td, tr {
    table-layout: auto;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
    margin-right: auto;
}

.format {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

tr:nth-child(2n) {
    background: #def8ff;
}
tr:nth-child(2n - 1) {
    background: #ccffac;
}

.foot {
    
    height: 100px;
    width: 100%;
    text-align: left;
    padding-top: 50px;
    background-color: rgb(255, 220, 166);
    padding-left: 10px;
    margin-top: 10px;
}

.unorderedlist {
    display: flex;
    flex-direction: column;
    position: relative;
    order: -1;
}

.unorderedlist li {
    list-style-position: outside;
    text-align: -webkit-match-parent;
}

#menu-wrap {
    flex-direction: column;
}

#list-wrap {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
}

@media screen and (min-width:600px) {
    #main-wrap {
        justify-content: space-between;
    }
    #list-wrap {
        flex-direction: row;
        
    }

    .unorderedlist {
        order: 0;
    }

    table {
        order: 0;
    }
}